@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Inter";
}
a {
  text-decoration: none;
}
h1 {
  text-align: center;
}
.App > div {
  display: flex;
  flex-direction: column;
  gap: 40px; 
}
.news-app {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.news-item {
  width: 500px;
  padding: 20px;
  border: 1px solid #c3bfbf;
  background: #f2f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news-img {
  width: 400px;
}
#search {
  min-height: 28px;
  border: 1px solid #e0e0e8;
  border-radius: 8px;
  min-width: 220px;
  padding-left: 10px;
}
.filter_search {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.news-catagory {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.7px;
  color: #44444b;
  border-radius: 10px;
  border: 1px solid #e4e4e7;
  background: #f7f7f8;
  padding: 6px 0px;
  display: flex;
  max-width: max-content;
}
.news-catagory input {
  display: none;
}
.news-catagory > div {
  padding: 0px 5px;
  border-right: 1px solid #cfcfd3;
}
.news-catagory > div:last-child {
  padding: 0px 5px;
  border-right: none;
}

.news-catagory label {
  padding: 3px 7px;
  cursor: pointer;
  opacity: 0.5;
}
.news-catagory .active-filter {
  border-radius: 6px;
  border: 0.5px solid #e4e4e7;
  background: #fcfcfd;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
  opacity: 1;
}
@media (max-width: 998px) {
  .filter_search {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 500px) {
 .news-item {
  width: 100%;
}
}