@font-face {
  font-family: NotoColorEmojiLimited;
  src: url(https://raw.githack.com/googlefonts/noto-emoji/main/fonts/NotoColorEmoji.ttf);
  unicode-range: u+1f1e6-1f1ff;
}
 
   
:root {
 
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    hsla(0, 0%, 100%, 0.15),
    hsla(0, 0%, 100%, 0)
  );
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg: #fff;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-emphasis-color: #000;
  --bs-emphasis-color-rgb: 0, 0, 0;
  --bs-secondary-color: rgba(33, 37, 41, 0.75);
  --bs-secondary-color-rgb: 33, 37, 41;
  --bs-secondary-bg: #e9ecef;
  --bs-secondary-bg-rgb: 233, 236, 239;
  --bs-tertiary-color: rgba(33, 37, 41, 0.5);
  --bs-tertiary-color-rgb: 33, 37, 41;
  --bs-tertiary-bg: #f8f9fa;
  --bs-tertiary-bg-rgb: 248, 249, 250;
  --bs-heading-color: inherit;
  --bs-link-color: #0d6efd;
  --bs-link-color-rgb: 13, 110, 253;
  --bs-link-decoration: underline;
  --bs-link-hover-color: #0a58ca;
  --bs-link-hover-color-rgb: 10, 88, 202;
  --bs-code-color: #d63384;
  --bs-highlight-bg: #fff3cd;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-xxl: 2rem;

}
 
*,
:after,
:before {
  box-sizing: border-box;
}
 
body {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  background-color: #fff;
  background-color: var(--bs-body-bg);
  color: #212529;
  color: var(--bs-body-color);
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica Neue,
    Noto Sans, Liberation Sans, Arial, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-family: var(--bs-body-font-family);
  font-size: 1rem;
  font-size: var(--bs-body-font-size);
  font-weight: 400;
  font-weight: var(--bs-body-font-weight);
  line-height: 1.5;
  line-height: var(--bs-body-line-height);
  text-align: var(--bs-body-text-align);
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(90deg, #eee, #eee);
  font-family: Manrope, system-ui, -apple-system, Segoe UI, Roboto,
    Helvetica Neue, Noto Sans, Liberation Sans, Arial, sans-serif,
    Apple Color Emoji, NotoColorEmojiLimited, Segoe UI Emoji, Segoe UI Symbol;
  margin: 0;
}
 
 
  
a {
  color: #0d6efd;
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
  text-decoration: underline;
   outline: none;
  text-decoration: none;
}
a:hover {
  --bs-link-color-rgb: var(--bs-link-hover-color-rgb);
}
 
 
img,
svg {
  vertical-align: middle;
}
 
  
 
button:focus:not(:focus-visible) {
  outline: 0;
}
button  {
  border-radius: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0; 
  text-transform: none;
}
[role="button"] {
  cursor: pointer;
}
  
 
.img-fluid,
.img-thumbnail {
  height: auto;
  max-width: 100%;
}
.img-thumbnail {
  background-color: #fff;
  background-color: var(--bs-body-bg);
  border: 1px solid #dee2e6;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: 0.375rem;
  border-radius: var(--bs-border-radius);
  padding: 0.25rem;
}
 
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  width: 100%;
}
@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1320px;
  }
}
:root {
  --bs-breakpoint-xs: 0;
  --bs-breakpoint-sm: 576px;
  --bs-breakpoint-md: 768px;
  --bs-breakpoint-lg: 992px;
  --bs-breakpoint-xl: 1200px;
  --bs-breakpoint-xxl: 1400px;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--bs-gutter-x) * -0.5);
  margin-right: calc(var(--bs-gutter-x) * -0.5);
  margin-top: calc(var(--bs-gutter-y) * -1);
}
.row > * {
  flex-shrink: 0;
  margin-top: var(--bs-gutter-y);
  max-width: 100%;
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  width: 100%;
}
.col {
  flex: 1 0;
}

 
.btn {
  --bs-btn-padding-x: 0.75rem;
  --bs-btn-padding-y: 0.375rem;
  --bs-btn-font-family: ;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-color: var(--bs-body-color);
  --bs-btn-bg: transparent;
  --bs-btn-border-width: var(--bs-border-width);
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: var(--bs-border-radius);
  --bs-btn-hover-border-color: transparent;
  --bs-btn-box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, 0.15),
    0 1px 1px rgba(0, 0, 0, 0.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem
    rgba(var(--bs-btn-focus-shadow-rgb), 0.5);
  background-color: var(--bs-btn-bg);
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  color: var(--bs-btn-color);
  cursor: pointer;
  display: inline-block;
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  text-align: center;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-user-select: none;
  user-select: none;
  vertical-align: middle;
}
@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
.btn:hover {
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
  color: var(--bs-btn-hover-color);
}
 
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #0d6efd;
  --bs-btn-border-color: #0d6efd;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0b5ed7;
  --bs-btn-hover-border-color: #0a58ca;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0a58ca;
  --bs-btn-active-border-color: #0a53be;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0d6efd;
  --bs-btn-disabled-border-color: #0d6efd;
}
 
 
 
 
.nav {
  --bs-nav-link-padding-x: 1rem;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-color: var(--bs-link-color);
  --bs-nav-link-hover-color: var(--bs-link-hover-color);
  --bs-nav-link-disabled-color: var(--bs-secondary-color);
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}
.nav-link {
  background: 0 0;
  border: 0;
  color: var(--bs-nav-link-color);
  display: block;
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .nav-link {
    transition: none;
  }
}
.nav-link:focus,
.nav-link:hover {
  color: var(--bs-nav-link-hover-color);
}
.nav-link:focus-visible {
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  outline: 0;
}
.nav-link.disabled {
  color: var(--bs-nav-link-disabled-color);
  cursor: default;
  pointer-events: none;
}
  
  .nav-link {
  border-radius: var(--bs-nav-pills-border-radius);
}
  .nav-link:disabled {
  background-color: initial;
  border-color: transparent;
  color: var(--bs-nav-link-disabled-color);
}
 .nav-link.active,
  .show > .nav-link {
  background-color: var(--bs-nav-pills-link-active-bg);
  color: var(--bs-nav-pills-link-active-color);
}
.nav-underline {
  --bs-nav-underline-gap: 1rem;
  --bs-nav-underline-border-width: 0.125rem;
  --bs-nav-underline-link-active-color: var(--bs-emphasis-color);
  gap: var(--bs-nav-underline-gap);
}
.nav-underline .nav-link {
  border-bottom: var(--bs-nav-underline-border-width) solid transparent;
  padding-left: 0;
  padding-right: 0;
}
.nav-underline .nav-link:focus,
.nav-underline .nav-link:hover {
  border-bottom-color: initial;
}
.nav-underline .nav-link.active,
.nav-underline .show > .nav-link {
  border-bottom-color: initial;
  color: var(--bs-nav-underline-link-active-color);
  font-weight: 700;
}
.nav-fill .nav-item,
.nav-fill > .nav-link {
  flex: 1 1 auto;
  text-align: center;
}
.nav-justified .nav-item,
.nav-justified > .nav-link {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
}
.nav-fill .nav-item .nav-link,
.nav-justified .nav-item .nav-link {
  width: 100%;
}
.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}
.navbar {
  --bs-navbar-padding-x: 0;
  --bs-navbar-padding-y: 0.5rem;
  --bs-navbar-color: rgba(var(--bs-emphasis-color-rgb), 0.65);
  --bs-navbar-hover-color: rgba(var(--bs-emphasis-color-rgb), 0.8);
  --bs-navbar-disabled-color: rgba(var(--bs-emphasis-color-rgb), 0.3);
  --bs-navbar-active-color: rgba(var(--bs-emphasis-color-rgb), 1);
  --bs-navbar-brand-padding-y: 0.3125rem;
  --bs-navbar-brand-margin-end: 1rem;
  --bs-navbar-brand-font-size: 1.25rem;
  --bs-navbar-brand-color: rgba(var(--bs-emphasis-color-rgb), 1);
  --bs-navbar-brand-hover-color: rgba(var(--bs-emphasis-color-rgb), 1);
  --bs-navbar-nav-link-padding-x: 0.5rem;
  --bs-navbar-toggler-padding-y: 0.25rem;
  --bs-navbar-toggler-padding-x: 0.75rem;
  --bs-navbar-toggler-font-size: 1.25rem;
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(33, 37, 41, 0.75)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  --bs-navbar-toggler-border-color: rgba(var(--bs-emphasis-color-rgb), 0.15);
  --bs-navbar-toggler-border-radius: var(--bs-border-radius);
  --bs-navbar-toggler-focus-width: 0.25rem;
  --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
  position: relative;
}
.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
  align-items: center;
  display: flex;
  flex-wrap: inherit;
  justify-content: space-between;
}
.navbar-brand {
  color: var(--bs-navbar-brand-color);
  font-size: var(--bs-navbar-brand-font-size);
  margin-right: var(--bs-navbar-brand-margin-end);
  padding-bottom: var(--bs-navbar-brand-padding-y);
  padding-top: var(--bs-navbar-brand-padding-y);
  text-decoration: none;
  white-space: nowrap;
}
.navbar-brand:focus,
.navbar-brand:hover {
  color: var(--bs-navbar-brand-hover-color);
}
.navbar-nav {
  --bs-nav-link-padding-x: 0;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-color: var(--bs-navbar-color);
  --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
  --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: var(--bs-navbar-active-color);
}

.navbar-text {
  color: var(--bs-navbar-color);
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.navbar-text a,
.navbar-text a:focus,
.navbar-text a:hover {
  color: var(--bs-navbar-active-color);
}
.navbar-collapse {
  align-items: center;
  flex-basis: 100%;
  flex-grow: 1;
}
.navbar-toggler {
  background-color: initial;
  border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
  border-radius: var(--bs-navbar-toggler-border-radius);
  color: var(--bs-navbar-color);
  font-size: var(--bs-navbar-toggler-font-size);
  line-height: 1;
  padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
  transition: var(--bs-navbar-toggler-transition);
}
@media (prefers-reduced-motion: reduce) {
  .navbar-toggler {
    transition: none;
  }
}
.navbar-toggler:hover {
  text-decoration: none;
}
.navbar-toggler:focus {
  box-shadow: 0 0 0 var(--bs-navbar-toggler-focus-width);
  outline: 0;
  text-decoration: none;
}
.navbar-toggler-icon {
  background-image: var(--bs-navbar-toggler-icon-bg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
  height: 1.5em;
  vertical-align: middle;
  width: 1.5em;
}
 
 
@media (min-width: 768px) {
  .navbar-expand-md {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-md .navbar-nav {
    flex-direction: row;
  } 
  
  .navbar-expand-md .navbar-nav .nav-link {
    padding-left: var(--bs-navbar-nav-link-padding-x);
    padding-right: var(--bs-navbar-nav-link-padding-x);
  }
  
  .navbar-expand-md .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand-md .navbar-toggler {
    display: none;
  } 
 
} 
   
.fixed-top {
  top: 0;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 1030;
}
   
.d-inline {
  display: inline !important;
}
 
.d-block {
  display: block !important;
}
 
.d-flex {
  display: flex !important;
}
.d-inline-flex {
  display: inline-flex !important;
}
.d-none {
  display: none !important;
}
 
.mw-100 {
  max-width: 100% !important;
}
.vw-100 {
  width: 100vw !important;
}
.min-vw-100 {
  min-width: 100vw !important;
}
.h-25 {
  height: 25% !important;
}
.h-50 {
  height: 50% !important;
}
.h-75 {
  height: 75% !important;
}
.h-100 {
  height: 100% !important;
}
.h-auto {
  height: auto !important;
}
.mh-100 {
  max-height: 100% !important;
}
.vh-100 {
  height: 100vh !important;
}
.min-vh-100 {
  min-height: 100vh !important;
}
 
.flex-row {
  flex-direction: row !important;
}
.flex-column {
  flex-direction: column !important;
}
 

.flex-grow-0 {
  flex-grow: 0 !important;
}
.flex-grow-1 {
  flex-grow: 1 !important;
}
.flex-shrink-0 {
  flex-shrink: 0 !important;
}
.flex-shrink-1 {
  flex-shrink: 1 !important;
}
.flex-wrap {
  flex-wrap: wrap !important;
}
.flex-nowrap {
  flex-wrap: nowrap !important;
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse !important;
}
.justify-content-start {
  justify-content: flex-start !important;
}
.justify-content-end {
  justify-content: flex-end !important;
}
.justify-content-center {
  justify-content: center !important;
}
.justify-content-between {
  justify-content: space-between !important;
}
.justify-content-around {
  justify-content: space-around !important;
}
.justify-content-evenly {
  justify-content: space-evenly !important;
}
.align-items-start {
  align-items: flex-start !important;
}
.align-items-end {
  align-items: flex-end !important;
}
.align-items-center {
  align-items: center !important;
}
.align-items-baseline {
  align-items: baseline !important;
}
.align-items-stretch {
  align-items: stretch !important;
}
 
.align-self-auto {
  align-self: auto !important;
}
.align-self-start {
  align-self: flex-start !important;
}
.align-self-end {
  align-self: flex-end !important;
}
.align-self-center {
  align-self: center !important;
}
.align-self-baseline {
  align-self: baseline !important;
}
.align-self-stretch {
  align-self: stretch !important;
}
  
 
.mx-2 {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
} 
 
.my-3 {
  margin-bottom: 1rem !important;
  margin-top: 1rem !important;
}
 
 
.mt-3 {
  margin-top: 1rem !important;
}
.mt-auto {
  margin-top: auto !important;
}
 
.me-3 {
  margin-right: 1rem !important;
}
 
 
 
.mb-2 {
  margin-bottom: 0.5rem !important;
}
.mb-3 {
  margin-bottom: 1rem !important;
}
.mb-4 {
  margin-bottom: 1.5rem !important;
}

 
.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.px-1 {
  padding-left: 0.25rem !important;
  padding-right: 0.25rem !important;
}
.px-2 {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}
.px-3 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}
.px-4 {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}
.px-5 {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}
.py-0 {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}
.py-1 {
  padding-bottom: 0.25rem !important;
  padding-top: 0.25rem !important;
}
.py-2 {
  padding-bottom: 0.5rem !important;
  padding-top: 0.5rem !important;
}
.py-3 {
  padding-bottom: 1rem !important;
  padding-top: 1rem !important;
}
.py-4 {
  padding-bottom: 1.5rem !important;
  padding-top: 1.5rem !important;
}
.py-5 {
  padding-bottom: 3rem !important;
  padding-top: 3rem !important;
}
.pt-0 {
  padding-top: 0 !important;
}
.pt-1 {
  padding-top: 0.25rem !important;
}
.pt-2 {
  padding-top: 0.5rem !important;
}
.pt-3 {
  padding-top: 1rem !important;
}
.pt-4 {
  padding-top: 1.5rem !important;
}
.pt-5 {
  padding-top: 3rem !important;
}
 
.pb-4 {
  padding-bottom: 1.5rem !important;
} 
 
.gap-1 {
  gap: 0.25rem !important;
}
.gap-2 {
  gap: 0.5rem !important;
}
.gap-3 {
  gap: 1rem !important;
}
.gap-4 {
  gap: 1.5rem !important;
}

  

.rounded-3 {
  border-radius: 0.5rem !important;
  border-radius: var(--bs-border-radius-lg) !important;
}
.rounded-4 {
  border-radius: 1rem !important;
  border-radius: var(--bs-border-radius-xl) !important;
} 

 
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid #fff;
  border-radius: 6px;
}
::-webkit-scrollbar-track {
  background-color: initial;
}
.new-btn {
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  padding: 5px 14px;
  text-align: center;
  transition-duration: 0.2s;
}
.new-btn:disabled {
  opacity: 0.5;
}
 .new-btn.gray {
    background-color: #f5f5f5;
    border-color: #e6e6e6;
    color: #525252;
}
  
.new-btn.violet-fill {
  background: linear-gradient(
    135deg,
    #6004ff,
    #7f35ff 23.95%,
    #370097 60.11%,
    #8d4aff
  );
  border: 1px solid hsla(0, 0%, 100%, 0.2);
  color: #fff;
}
.new-btn.violet-fill:active,
.new-btn.violet-fill:hover {
  background: linear-gradient(
    135deg,
    #6004ff,
    #1a004b 23.95%,
    #370097 60.11%,
    #1a004b
  );
  border: 1px solid hsla(0, 0%, 100%, 0.2);
  color: #fff !important;
}
  
 
@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@keyframes slide {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@-webkit-keyframes logosright {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes logosright {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.logos {
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}
.logos-slide {
  -webkit-animation: slide 20s linear infinite;
  animation: slide 20s linear infinite;
}
.logos-right .logos-slide {
  -webkit-animation: logosright 20s linear infinite;
  animation: logosright 20s linear infinite;
}
.logos-slide,
.logos-slide a {
  display: inline-block!important;
}

.logos-slide > div {
  margin: 0 8px;
}
.logos:after,
.logos:before {
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  width: 80px;
  z-index: 2;
}
.infinite-scroll-loop-outer {
  position: relative;
}
.infinite-scroll-loop-outer:after {
  background: linear-gradient(
    90deg,
    #fff 0,
    hsla(0, 0%, 100%, 0) 15%,
    hsla(0, 0%, 100%, 0) 85%,
    #fff
  );
  content: "";
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}
.infinite-scroll-loop-inner {
  overflow-x: scroll;
  scrollbar-width: none;
}
.infinite-scroll-loop-inner::-webkit-scrollbar {
  display: none;
}
  
 
.navigation-toggler {
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  color: #222;
  cursor: pointer;
  font-size: 33px;
  line-height: 100%;
}
.navigation-toggler.active {
  border-color: #6004ff;
  color: #6004ff;
}
 
 
.navbar > .container-fluid {
  max-width: 1264px;
  padding: 8px 24px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(209, 213, 219);
  border-radius: 16px;
  backdrop-filter: blur(16px);
  background: rgba(250, 250, 250, 0.5);
}
.navbar-brand {
  height: fit-content;
  gap: 8px;
  flex: 1 1 0%;
}

.navbar-nav {
  flex: 1 1 0%;
}

a span {
  color: rgb(17, 17, 17);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}

.subscription {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 60px;
  padding-top: 106px !important;
}

.subscription > div:nth-of-type(1) {
  gap: 100px;
  position: relative;
  overflow: hidden;
}

.appsumo {
  gap: 32px;
  line-height: 100%;
  z-index: 2;
}
.appsumo > div:nth-of-type(1) {
  padding: 6px 6px 6px 10px;
  gap: 6px;
  border-radius: 12px;
  border: 2px solid rgb(51, 51, 51);
  background: linear-gradient(
    269deg,
    rgb(255, 185, 1) 17.08%,
    rgb(255, 149, 1) 100%
  );
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px 0px,
    rgba(0, 0, 0, 0.09) 0px 2px 2px 0px, rgba(0, 0, 0, 0.05) 0px 5px 3px 0px,
    rgba(0, 0, 0, 0.01) 0px 9px 4px 0px, rgba(0, 0, 0, 0) 0px 14px 4px 0px;
  backdrop-filter: blur(28px);
  color: rgb(51, 51, 51);
  font-size: 13px;
  line-height: 100%;
  font-weight: 600;
}
.appsumo a {
  padding: 6px 2px 6px 6px;
  gap: 2px;
  border-radius: 6px;
  border: 1px solid rgb(51, 51, 51);
  color: inherit;
  background: linear-gradient(
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 50.04%,
    rgba(255, 255, 255, 0.5) 50.85%
  );
}

.subscip-header {
  color: rgb(34, 34, 34);
  font-weight: 600;
  font-size: 48px;
  line-height: 130%;
  max-width: 659px;
}
.fs-36 {
  font-size: 36px;
}
.fs-14 {
  font-size: 14px;
}
.subscip-header + div {
  color: rgb(82, 82, 82);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  max-width: 671px;
}
.slider {
  width: 816px;
  color: rgb(82, 82, 82);
  font-size: 13px;
  line-height: 100%;
}
.slider > div {
  padding: 4px 6px;
  gap: 4px;
  border-radius: 4px;
  border: 1px solid rgb(230, 230, 230);
  background: rgb(250, 250, 250);
}
.landing-bg {
  z-index: 2;
  margin: 0px 72px;
}
.landing-bg + div {
  position: absolute;
  z-index: 1;
  bottom: 280px;
  width: 100%;
  border-radius: 28px;
  overflow: hidden;
}

.users {
  max-width: 1600px;
  margin: 100px auto 128px;
  gap: 24px;
}
.users > div {
  color: rgb(82, 82, 82);
  font-size: 16px;
}

.users > div span {
  color: rgb(128, 54, 255);
}

.options {
  color: rgb(3, 204, 59);
  font-weight: 500;
}
.workflow {
  max-width: 1600px;
  margin: 160px auto;
}
.workflow > div:nth-child(1) {
  margin-bottom: 64px;
}

.workflow .row:first-child .d-inline-flex {
  padding: 6px 16px;
  border-radius: 8px;
  background: rgb(250, 250, 250);
  border: 2px solid rgb(128, 54, 255);
  color: rgb(128, 54, 255);
  font-size: 13px;
}
.term {
  max-width: 417px;
  color: rgb(82, 82, 82);
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}

.workflow-blocks {
  padding-bottom: 0.5rem;
}

.workflow-blocks div .rounded-4 {
  border: 1px solid rgb(230, 230, 230);
  overflow: hidden;
  margin-bottom: 1em;
}

.workflow-blocks .flex-grow-1 span {
  font-weight: 500;
}

.img-content {
  background: rgb(245, 245, 245);
  border-bottom: 1px solid rgb(230, 230, 230);
}

.new-info {
  padding: 0.25rem 0.5rem;
  border-radius: 20px;
  background: rgb(239, 230, 255);
  color: rgb(96, 4, 255);
  font-size: 9px;
  font-weight: 500;
  height: 16px;
}

 

.logos {
  overflow: hidden;
  padding: 10px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}



.logos-slide picture img {
  height: 32px;
}

.promise {
  padding: 6px 16px;
  border-radius: 8px;
  background: rgb(250, 250, 250);
  border: 2px solid rgb(128, 54, 255);
  color: rgb(128, 54, 255);
  font-size: 13px;
}

.footer {
  max-width: 1264px;
  padding: 32px;
  border: 1px solid rgb(230, 230, 230);
}
.footer > div:nth-child(1) {
  gap: 24px;
  flex-basis: 360px;
}
.footer > div:nth-child(n + 2) {
      flex-basis: 160px;
    gap: 16px;
}

.footer a div,
 .footer>div:last-child>div:nth-child(n+2),
  .footer>div>div>div:nth-child(2),
   .footer>div>div>div:nth-child(3){
      color: rgb(82, 82, 82);
    font-size: 12px;
}
.logos-slide > div:first-child {
  width: 600px;
  height: 266px;
  padding: 32px;
  border: 1px solid rgb(230, 230, 230);
  background: white;
}

#root {
  background-color: white;
}

.producthunt {
  background: rgb(246, 232, 229);
  border: 1px solid rgb(255, 60, 5);
}
.producthunt span {
  color: rgb(255, 58, 2);
  font-size: 12px;
  font-weight: 500;
}
.section {
  max-width: 1600px;
  margin: 160px auto;
}

.gap-24 {
  gap: 24px;
}

.read-more > div {
  padding: 24px;
  border: 1px solid rgb(230, 230, 230);
}
.read-more {
  padding-left: 12.5%;
  padding-right: 12.5%;
}

.help-center {
  color: rgb(96, 4, 255);
  text-decoration: underline rgb(96, 4, 255);
  margin-left: 5px;
}

@media (max-width: 798px) {
  .read-more {
     padding-left: 16px; 
    padding-right: 12.5%; 
}
  .subscription { 
 padding: 0px 16px;  
    
}
  .sm-none{
    display: none;
  }
  .footer { 
  padding: 16px; 
}
.slider {
  -webkit-animation: slide 10s linear infinite;
  animation: slide 10s linear infinite;
}
}

.sputnik{
   color: rgb(17, 17, 17);
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 10px;
}

.navbar-nav button{
  min-width: 93px;
}

@media (min-width: 768px){
.d-md-none {
    display: none!important;
}}

@media (min-width: 768px){
.d-md-flex {
    display: flex!important;
}}

.w-100 {
    width: 100%!important;
}

@media (min-width: 768px){
  .pb-md-5{
    padding-bottom: 3rem;
  }
   .offset-md-1 {
    margin-left: 8.33333333%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
.py-md-4 {
    padding-bottom: 1.5rem!important;
    padding-top: 1.5rem!important;
}}

.text-wrap {
  white-space: normal !important;
}
.text-center {
  text-align: center !important;
}

.align-content-center {
  align-content: center !important;
}

.logos-slide>div>div:first-child{
  border-bottom: 1px solid rgb(230, 230, 230);
}